@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap");
@tailwind base;
@tailwind components;

h1,
h2,
h3,
h4 {
  font-family: "Noto Sans JP", sans-serif;
  line-height: 1.75;
}

h1 {
  @apply text-5xl;
}

h2 {
  @apply text-4xl;
}

h3 {
  @apply text-3xl;
}

h4 {
  @apply text-2xl;
}

p {
  @apply text-lg;
}

@media (max-width: 640px) {
  h1 {
    @apply text-3xl;
  }

  h2 {
    @apply text-2xl;
  }

  h3 {
    @apply text-xl;
  }

  h4 {
    @apply text-lg;
  }

  p {
    @apply text-base;
  }
}

mark {
  padding: 0.25rem 0.5rem;
}

@tailwind utilities;
