.contactMe {
  @apply text-center text-white;
}

.contactMeLogo {
  width: 72px;
  display: initial;
}

.contactMeTitle {
  @apply text-2xl;
  font-family: "Noto Sans JP", sans-serif;
  line-height: 1.75;
}

.contactMeSlogan {
  @apply text-lg;
}

.contactMeSocialLinks {
  @apply mt-5;
}

.contactMeSocialLink {
  @apply underline text-lg;
}

.contactMeSocialLink:hover {
  @apply no-underline;
}

.contactMeSocialLinksListItem {
  @apply inline;
}

.contactMeSocialLinksListItem:nth-child(odd) {
  @apply mr-5;
}

@media (max-width: 640px) {
  .contactMeSlogan {
    @apply text-base;
  }

  .contactMeSocialLink {
    @apply text-base;
  }

  .contactMeTitle {
    @apply text-2xl;
  }
}
