@tailwind base;
@tailwind components;

html {
  @apply text-wtw-white bg-wtw-black;
}

h1 {
  @apply text-5xl md:text-7xl mb-5;
}

h2 {
  @apply text-4xl md:text-6xl mb-5;
}

h3 {
  @apply text-3xl md:text-5xl mb-5;
}

h4 {
  @apply text-2xl md:text-4xl mb-5;
}

ul,
ol {
  @apply list-inside ml-3 md:ml-5;
}

ul {
  @apply list-disc;
}

ol {
  @apply list-decimal;
}

p,
li,
code {
  @apply text-base md:text-lg;
}

p,
ul,
ol {
  @apply mb-5;
}

a {
  @apply text-base md:text-lg underline text-blue-500;
}

a:hover {
  @apply no-underline;
}

mark {
  padding: 0.25rem 0.5rem;
}

.textGradient {
  background: linear-gradient(to right, #eac435, #e46f06);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

table {
  @apply border-2 border-wtw-yellow;
}

thead,
tr,
th {
  @apply border-2 border-wtw-yellow;
}

th {
  @apply p-3;
}

td {
  @apply p-3 border-2 border-wtw-yellow;
}

@tailwind utilities;
